<div class="card-body">
  <div >
    <table class="table">
      <thead class=" text-primary">
      <th class="text-right" width="25%">

      </th>
      <th width="25%">
        Name
      </th>
      <th width="35%">
        Description
      </th>
      <th width="15%" class="text-right">
        Price
      </th>

      <th width="15%" class="text-right">
        Quantity
      </th>

      <th  class="text-right">
        Action
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let p of category.products">
        <td class="text-right">
          <img src="{{p.image}}" width="100%">
        </td>
        <td>
          {{p.name}}
        </td>
        <td>
          {{p.description}}
        </td>
        <td class="text-right" style="padding-right: 30px">
          {{p.price/100}}
        </td>
        <td>
          <input type="text" class="form-control" placeholder="0" [(ngModel)]="p.quantity">
        </td>
        <td><button class="btn btn-md btn-outline-danger btn-round btn-icon" (click)="addProduct(p)"><i class="nc-icon nc-simple-add"></i>
        </button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
