<div class="card card-stats">
  <div class="card-header ">
    <div class="icon-big text-center icon-warning">
      <img src="{{getPhoto(ad.mediacomponents[0].media.url)}}" width="100%"/>
    </div>
  </div>
  <div class="card-body ">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="text-center text-black-50 ad_title">
          {{ad.title}}
        </div>
      </div>
      <div class="col-9 col-md-12">
        <div class="">
          <p class="stats">{{ad.description}}</p>
          <!--<p class="card-title">sdfsf</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer ">
    <hr>
    <!--<div class="stats">-->
    <!--<span style="font-size: small">Ordering from: </span> {{business.businessName}}-->
    <!--</div>-->
    <hr>

    <div class="row">
      <!--<div class="col-md-2 col-2">-->
      <!--&lt;!&ndash;<div class="avatar">&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="col-md-7 col-7">-->
      <!--&lt;!&ndash;DJ Khaled&ndash;&gt;-->
      <!--&lt;!&ndash;<br />&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="text-muted">&ndash;&gt;-->
      <!--&lt;!&ndash;<small>Offline</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
      <!--</div>-->
      <div class="col-md-3 col-3 text-right">
        <button class="btn btn-md btn-outline-danger btn-round btn-icon"><i class="nc-icon nc-simple-add"></i>
        </button>
      </div>
    </div>

  </div>
</div>

