<div class="card card-stats" style="min-height: 200px">
  <div class="card-body ">
    <div class="row">
      <div class="col-12 col-md-12">
        <img src="https://quos.s3.amazonaws.com/{{business.photo}}" width="50%"/>
      </div>
      <!--<div class="col-7 col-md-8">-->
      <!--<div class="numbers">-->
      <!--<p class="card-category">{{business.businessName}}</p>-->
      <!--&lt;!&ndash;<p class="card-title">150GB</p>&ndash;&gt;-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="card-footer ">
    <h6>{{business.name}}</h6>
    <hr>
    <div class="stats">
      {{business.description}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2 col-2">
      <!--<div class="avatar">-->
      <!--<img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">-->
      <!--</div>-->
    </div>
    <div class="col-md-7 col-7" style="margin-top: 15px">
      <!--DJ Khaled-->
      <!--<br />-->
      <span class="text-capitalize">Menu</span>
    </div>
    <div class="col-md-3 col-3 ">
      <button class="btn btn-md btn-outline-success btn-round btn-icon" (click)="showCatalog()"><i
        class="nc-icon nc-minimal-right"></i></button>
    </div>
  </div>

</div>


<!--<div class="col-lg-3 col-md-6 col-sm-6">-->
<!--<div class="card card-stats">-->
<!--<div class="card-body ">-->
<!--<div class="row">-->
<!--<div class="col-12 col-md-12">-->
<!--<div class="icon-big text-center icon-warning">-->
<!--<img src="https://quos.s3.amazonaws.com/{{business.photo}}" height="100"/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-7 col-md-8">-->
<!--<div class="numbers">-->
<!--<p class="card-category">{{business.businessName}}</p>-->
<!--<p class="card-title"></p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-footer ">-->
<!--<hr>-->
<!--<div class="stats">-->
<!--{{business.description}}-->
<!--</div>-->
<!--<hr>-->

<!--<div class="row">-->
<!--<div class="col-md-2 col-2">-->
<!--&lt;!&ndash;<div class="avatar">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div class="col-md-7 col-7">-->
<!--&lt;!&ndash;DJ Khaled&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--<span class="text-muted">Menu</span>-->
<!--</div>-->
<!--<div class="col-md-3 col-3 text-right">-->
<!--<button class="btn btn-md btn-outline-success btn-round btn-icon" (click)="showCatalog()"><i class="nc-icon nc-minimal-right"></i></button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
